.banner {
	height: 18rem;
	// background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #8f8b8b;
}

.banner-title {
	color: black;
	font-weight: bold;
	font-size: 7rem;
	text-align: center;
	margin-bottom: 1rem;
}

.container-wide {
	padding-left: 15%;
	padding-right: 15%;
}

.blog-list-container {
	display: flex;
	justify-content: space-between;
}

.blog-list-component {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.blog-list-container:hover {
	background-color: #f2f4f8;
}

.blog-list-row {
	display: flex;
	width: 100%;
	flex-direction: row;
	margin-bottom: 2%;
}

.blog-list-row-left {
	width: 90%;
}

.blog-list-row-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 10%;
}

.thumbnail-container {
	position: relative;
	height: 150px;
	width: 150px;
	overflow: hidden;
}

.thumbnail {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.thumbnail-portrait {
	width: 100%;
	height: auto;
}

.formated-blog-content {
	font-size: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	white-space: pre-wrap;
	word-break: break-word;
}

.search-blog {
	width: 10rem;
}

.textEditorWrapper {
	margin-top: 5%;
	padding: 5%;
}

.writePostNavLink,
.writePostNavLink:hover {
	color: #c6c6c6;
}

.bx--text-input {
	font-size: 1.25rem;
	height: 3rem;
	border-bottom: none;
	font-weight: 500;
}

#blogSummary {
	height: 2.5rem;
	font-size: 1.15rem;
	font-weight: 200;
}

.ql-container {
	height: 65vh;
}

.container {
	width: 50%;
	padding-top: 3.75rem;
}

.container img {
	max-height: 100%;
	max-width: 100%;
}

.textEditorContainer {
	margin-top: 1.5rem;
}

#thumbnail-upload-item {
	background-color: #393939;
	color: #f4f4f4;
}

#blogSubmit {
	margin-top: 1%;
	float: right;
}

.formatted-blog-content {
	overflow-wrap: break-word;
}

.background-white {
	background-color: white;
}

.nav-box-shadow {
	box-shadow: 0px 5px 20px rgb(199, 199, 199);
}

.bx--list-box__field:focus {
	outline: none;
}

.row-content-to-right {
	margin-bottom: 3rem;
	margin-top: 3rem;
	float: right;
}

#communityGuidelineSubmit {
	margin-top: 3rem;
	float: right;
}

.content-row {
	display: flex;
}

.content-item {
	margin-left: .5rem;
	margin-right: .5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 85%;
	width: 80%;
}

.slide-in {
	animation: slide-in 0.5s forwards;
	-webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
	animation: slide-out 0.5s forwards;
	-webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slide-in {
	100% {
		-webkit-transform: translateX(0%);
	}
}

@keyframes slide-out {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-125%);
	}
}

@-webkit-keyframes slide-out {
	0% {
		-webkit-transform: translateX(0%);
	}
	100% {
		-webkit-transform: translateX(-100%);
	}
}
